/* Write your CSS here */
.red {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
  background-size: cover;
}
.red1 {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
  background-size: cover;
}
.violet {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
  background-size: cover;
}
.violet1 {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
  background-size: cover;
}
.violet2 {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
  background-size: cover;
}
.blue {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
  background-size: cover;
}
.blue2 {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
  background-size: cover;
}
.orange {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
  background-size: cover;
}

.yellow {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
  background-size: cover;
}

.img {
  height: 300px;
  width: 900px;
}

.div12 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 900px;
}

.div11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div13 {
  padding: 20px;
}
